.footer {
  background: #0f172a;
  color: #e5e7eb;
  padding: 60px 20px 20px;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

/* LOGO */
.logos {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

/* TEXT */
.footer p {
  font-size: 14px;
  color: #9ca3af;
  line-height: 1.6;
}

/* HEADINGS */
.footer h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #ffffff;
}

/* LIST */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #9ca3af;
  cursor: pointer;
  transition: 0.3s;
}

.footer ul li:hover {
  color: #6366f1;
}

/* SOCIAL ICONS */
.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.social-icons svg {
  background: #1e293b;
  padding: 8px;
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  background: #6366f1;
  transform: translateY(-3px);
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #9ca3af;
}